.container{
    height: 100vh;
     display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

body{
    background-color:#121212;
}

.title{
    font-size: 40pt;
    text-align: center;

}

.containerInput {
   background-color: rgba(255, 255, 255, 0.139);
   padding: 15px;
   margin: 20px 0;
   display: flex;
   border-radius:5px ;
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size:15pt ;
    color: #ffff;
    outline: none;
    margin-right:5px;
    
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

::placeholder{
    font-size: auto;
    
}

.buttonSearch, .copy{
    background-color: transparent;
    color: azure;
    border: none;
    transition-duration: 60ms;
    transition-delay: 50ms;
    align-items: center;
    
}




.buttonSearch:hover, .copy:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 2.5px;
}

main h2{
    font-size: 15pt;
   
}

main section{
display: flex;background-color: rgba(255, 255, 255, 0.041);

}

main span{
    font-size: 12pt;
    
    padding: 15px;
}


@media screen and (max-width:460px) and (min-width:0px){
    main section{
        display: grid;
        grid-template-columns: 100%; 
        border-radius: 15px;
    }
    main{
        padding: 0;
        text-align: center;
    }

}